In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
#make dataframes of csv's obtained from the Bureau of Transportation Statistics 
cwd = os.getcwd()
nov = pd.read_csv(cwd + '/records/Nov.csv')
dec = pd.read_csv(cwd + '/records/Dec.csv')
jan = pd.read_csv(cwd + '/records/Jan.csv')
feb = pd.read_csv(cwd + '/records/Feb.csv')
march = pd.read_csv(cwd + '/records/March.csv')
april = pd.read_csv(cwd + '/records/April.csv')
may = pd.read_csv(cwd + '/records/May.csv')
june = pd.read_csv(cwd + '/records/June.csv')
july = pd.read_csv(cwd + '/records/July.csv')
aug = pd.read_csv(cwd + '/records/Aug.csv')
sept = pd.read_csv(cwd + '/records/Sept.csv')
octo = pd.read_csv(cwd + '/records/Oct.csv')

/Users/arihorwitz/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (21,38) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/arihorwitz/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (38) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/arihorwitz/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (37,38) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [7]:
#combine each month 
year = nov.append([dec,jan,feb,march,april,may,june,july,aug,sept,octo])

In [ ]:
total_flights = len(year)

In [9]:
year.describe()

,YEAR,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,OP_CARRIER_FL_NUM,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,DEP_DEL15,CRS_ARR_TIME,...,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,TOTAL_ADD_GTIME,DIV_AIRPORT_LANDINGS,DIV_REACHED_DEST,DIV_ACTUAL_ELAPSED_TIME,DIV_DISTANCE,Unnamed: 39
count,6.951793e+06,6.951793e+06,6.951793e+06,6.951793e+06,6.951793e+06,6.951793e+06,6.845499e+06,6.840579e+06,6.840579e+06,6.951793e+06,...,1.268851e+06,1.268851e+06,1.268851e+06,1.268851e+06,44913.000000,6.951792e+06,16893.000000,14439.000000,16889.000000,0.0
mean,2.017868e+03,6.378930e+00,1.576328e+01,3.931192e+00,2.555310e+03,1.330185e+03,1.333969e+03,9.718343e+00,1.808359e-01,1.485373e+03,...,3.657124e+00,1.583854e+01,1.049044e-01,2.563094e+01,39.130207,3.336837e-03,0.854733,382.816746,38.220972,NaN
std,3.386050e-01,3.317581e+00,8.766044e+00,1.988954e+00,1.860811e+03,4.917453e+02,5.052375e+02,4.440901e+01,3.848822e-01,5.199706e+02,...,2.981101e+01,3.611418e+01,3.589745e+00,4.969255e+01,34.870361,1.023514e-01,0.352381,200.719412,170.902424,NaN
min,2.017000e+03,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,-1.140000e+02,0.000000e+00,1.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000,0.000000e+00,0.000000,0.000000,0.000000,NaN
25%,2.018000e+03,4.000000e+00,8.000000e+00,2.000000e+00,9.730000e+02,9.140000e+02,9.150000e+02,-5.000000e+00,0.000000e+00,1.100000e+03,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,17.000000,0.000000e+00,1.000000,264.000000,0.000000,NaN
50%,2.018000e+03,6.000000e+00,1.600000e+01,4.000000e+00,2.055000e+03,1.321000e+03,1.327000e+03,-2.000000e+00,0.000000e+00,1.515000e+03,...,0.000000e+00,2.000000e+00,0.000000e+00,3.000000e+00,28.000000,0.000000e+00,1.000000,331.000000,0.000000,NaN
75%,2.018000e+03,9.000000e+00,2.300000e+01,6.000000e+00,4.032000e+03,1.735000e+03,1.744000e+03,6.000000e+00,0.000000e+00,1.919000e+03,...,0.000000e+00,1.900000e+01,0.000000e+00,3.100000e+01,48.000000,0.000000e+00,1.000000,430.000000,0.000000,NaN
max,2.018000e+03,1.200000e+01,3.100000e+01,7.000000e+00,7.439000e+03,2.359000e+03,2.400000e+03,2.710000e+03,1.000000e+00,2.400000e+03,...,2.692000e+03,1.848000e+03,9.870000e+02,2.454000e+03,398.000000,9.000000e+00,1.000000,1876.000000,3365.000000,NaN

In [10]:
year.columns

Index(['YEAR', 'MONTH', 'DAY_OF_MONTH', 'DAY_OF_WEEK', 'FL_DATE',
       'OP_UNIQUE_CARRIER', 'TAIL_NUM', 'OP_CARRIER_FL_NUM', 'ORIGIN',
       'ORIGIN_CITY_NAME', 'DEST', 'DEST_CITY_NAME', 'CRS_DEP_TIME',
       'DEP_TIME', 'DEP_DELAY', 'DEP_DEL15', 'CRS_ARR_TIME', 'ARR_TIME',
       'ARR_DELAY', 'ARR_DEL15', 'CANCELLED', 'CANCELLATION_CODE', 'DIVERTED',
       'CRS_ELAPSED_TIME', 'ACTUAL_ELAPSED_TIME', 'AIR_TIME', 'DISTANCE',
       'CARRIER_DELAY', 'WEATHER_DELAY', 'NAS_DELAY', 'SECURITY_DELAY',
       'LATE_AIRCRAFT_DELAY', 'TOTAL_ADD_GTIME', 'DIV_AIRPORT_LANDINGS',
       'DIV_REACHED_DEST', 'DIV_ACTUAL_ELAPSED_TIME', 'DIV_DISTANCE',
       'DIV1_AIRPORT', 'DIV2_AIRPORT', 'Unnamed: 39'],
      dtype='object')

In [15]:
year.drop(['Unnamed: 39'], axis =1, inplace = True)

In [64]:
delay = year[year['DEP_DEL15']==1]

In [65]:
delay = delay.reindex(columns= ['YEAR', 'MONTH', 'DAY_OF_MONTH', 'DAY_OF_WEEK', 'FL_DATE','OP_UNIQUE_CARRIER', 'TAIL_NUM', 'OP_CARRIER_FL_NUM', 'ORIGIN', 'ORIGIN_CITY_NAME', 'DEST', 'DEST_CITY_NAME', 'CRS_DEP_TIME','DEP_TIME', 'DEP_DELAY','CRS_ARR_TIME', 'ARR_TIME', 'CRS_ELAPSED_TIME', 'ACTUAL_ELAPSED_TIME', 'AIR_TIME', 'DISTANCE','CARRIER_DELAY', 'WEATHER_DELAY', 'NAS_DELAY', 'SECURITY_DELAY','LATE_AIRCRAFT_DELAY', 'TOTAL_ADD_GTIME'])

In [38]:
delay.describe()

,YEAR,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,OP_CARRIER_FL_NUM,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,CRS_ARR_TIME,ARR_TIME,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,TOTAL_ADD_GTIME
count,1.237022e+06,1.237022e+06,1.237022e+06,1.237022e+06,1.237022e+06,1.237022e+06,1.237022e+06,1.237022e+06,1.237022e+06,1.233804e+06,1.237016e+06,1.229589e+06,1.229589e+06,1.237022e+06,982858.000000,982858.000000,982858.000000,982858.000000,982858.000000,41765.000000
mean,2.017887e+03,6.289836e+00,1.566759e+01,3.909882e+00,2.566601e+03,1.506938e+03,1.568006e+03,6.627983e+01,1.637973e+03,1.579380e+03,1.443098e+02,1.397920e+02,1.137687e+02,8.244536e+02,24.785735,4.652044,13.400819,0.129384,32.777288,39.035077
std,3.161393e-01,3.200547e+00,8.619298e+00,1.989154e+00,1.872902e+03,4.489590e+02,4.857726e+02,8.280255e+01,5.232311e+02,6.346321e+02,7.326858e+01,7.304152e+01,7.045522e+01,5.960159e+02,66.533280,33.787799,39.617097,4.069844,54.391941,33.461933
min,2.017000e+03,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.500000e+01,1.000000e+00,1.000000e+00,-9.900000e+01,1.600000e+01,8.000000e+00,3.100000e+01,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,2.018000e+03,4.000000e+00,8.000000e+00,2.000000e+00,9.890000e+02,1.155000e+03,1.233000e+03,2.400000e+01,1.330000e+03,1.254000e+03,9.000000e+01,8.600000e+01,6.200000e+01,3.830000e+02,0.000000,0.000000,0.000000,0.000000,0.000000,17.000000
50%,2.018000e+03,6.000000e+00,1.600000e+01,4.000000e+00,2.043000e+03,1.547000e+03,1.632000e+03,4.000000e+01,1.733000e+03,1.734000e+03,1.260000e+02,1.230000e+02,9.600000e+01,6.680000e+02,4.000000,0.000000,0.000000,0.000000,15.000000,29.000000
75%,2.018000e+03,9.000000e+00,2.300000e+01,5.000000e+00,4.056000e+03,1.850000e+03,1.943000e+03,7.800000e+01,2.041000e+03,2.053000e+03,1.750000e+02,1.710000e+02,1.430000e+02,1.065000e+03,24.000000,0.000000,10.000000,0.000000,42.000000,48.000000
max,2.018000e+03,1.200000e+01,3.100000e+01,7.000000e+00,7.439000e+03,2.359000e+03,2.400000e+03,2.710000e+03,2.400000e+03,2.400000e+03,7.040000e+02,7.570000e+02,6.920000e+02,4.983000e+03,2109.000000,2692.000000,1848.000000,987.000000,2454.000000,353.000000

In [39]:
print(len(delay))

1237022
110320
16893

In [50]:
delay.isna().sum()

YEAR                         0
MONTH                        0
DAY_OF_MONTH                 0
DAY_OF_WEEK                  0
OP_UNIQUE_CARRIER            0
TAIL_NUM                     0
OP_CARRIER_FL_NUM            0
ORIGIN                       0
ORIGIN_CITY_NAME             0
DEST                         0
DEST_CITY_NAME               0
CRS_DEP_TIME                 0
DEP_TIME                     0
DEP_DELAY                    0
CRS_ARR_TIME                 0
ARR_TIME                  3218
CRS_ELAPSED_TIME             6
ACTUAL_ELAPSED_TIME       7433
AIR_TIME                  7433
DISTANCE                     0
CARRIER_DELAY           254164
WEATHER_DELAY           254164
NAS_DELAY               254164
SECURITY_DELAY          254164
LATE_AIRCRAFT_DELAY     254164
TOTAL_ADD_GTIME        1195257
dtype: int64

In [56]:
year['OP_UNIQUE_CARRIER'].value_counts()

WN    1347369
DL     945194
AA     909554
OO     767028
UA     615683
B6     303722
YX     264989
MQ     245812
AS     234333
OH     232630
EV     216089
9E     205728
YV     178097
NK     172771
F9     118871
HA      82904
G4      80908
VX      30111
Name: OP_UNIQUE_CARRIER, dtype: int64

In [57]:
year['ORIGIN'].value_counts()

ATL    383901
ORD    319079
DFW    263047
DEN    233701
LAX    220291
CLT    213900
SFO    176851
PHX    169916
IAH    165015
LAS    159642
LGA    159241
MSP    155954
DTW    152687
BOS    144653
SEA    140566
EWR    139955
MCO    136568
JFK    123426
DCA    121931
SLC    112677
PHL    109890
BWI    106447
FLL     96117
SAN     89556
MDW     87335
MIA     84750
TPA     73755
BNA     71164
DAL     71090
STL     64513
        ...
LBL       458
PVU       446
HHH       355
OTH       344
CNY       313
ELM       267
PSM       250
WYS       239
GUC       237
VEL       219
SPN       179
FLO       170
SMX       135
PPG       119
PRC       118
OGS       118
HGR       113
STC       112
OGD       107
IFP       106
MMH       104
ADK       104
EAR        97
OWB        92
HYA        89
DLG        84
GST        84
BKG        65
AKN        63
YNG         2
Name: ORIGIN, Length: 355, dtype: int64

In [59]:
year['DEST'].value_counts()

ATL    383906
ORD    319014
DFW    263027
DEN    233738
LAX    220329
CLT    213886
SFO    176920
PHX    169917
IAH    164975
LAS    159666
LGA    159244
MSP    155946
DTW    152659
BOS    144650
SEA    140564
EWR    139995
MCO    136575
JFK    123427
DCA    121933
SLC    112729
PHL    109894
BWI    106440
FLL     96123
SAN     89554
MDW     87331
MIA     84722
TPA     73760
BNA     71166
DAL     71091
STL     64513
        ...
PVU       444
HHH       356
OTH       344
CNY       313
ELM       267
PSM       247
WYS       239
GUC       237
VEL       219
SPN       179
FLO       170
SMX       135
PPG       119
PRC       119
OGS       118
HGR       113
STC       112
OGD       107
IFP       106
ADK       104
MMH       104
EAR        98
OWB        91
HYA        89
GST        84
DLG        84
BKG        65
AKN        63
YNG         2
FNL         1
Name: DEST, Length: 356, dtype: int64

In [67]:
cancel.to_csv("cancel.csv", index=False)
divert.to_csv("divert.csv", index=False)

In [ ]:
#winter is Dec 21 - March 19
winter = delay[[delay['month'] >= 11] | [delay['month'] ]]
# spring is March 20 - June 20
spring =
# summer is June 21 - Sept 21
summer = 
# fall is Sept 22 - Dec 20
fall =

In [66]:
delay['FL_DATE']

1         2017-11-06
2         2017-11-06
4         2017-11-06
20        2017-11-06
27        2017-11-06
55        2017-11-06
68        2017-11-06
73        2017-11-06
80        2017-11-06
88        2017-11-06
89        2017-11-06
97        2017-11-06
101       2017-11-06
102       2017-11-06
104       2017-11-06
109       2017-11-06
116       2017-11-06
121       2017-11-06
126       2017-11-06
133       2017-11-06
134       2017-11-06
135       2017-11-06
136       2017-11-06
137       2017-11-06
141       2017-11-06
145       2017-11-06
150       2017-11-06
167       2017-11-06
177       2017-11-06
195       2017-11-06
             ...
616041    2018-10-10
616043    2018-10-12
616044    2018-10-13
616046    2018-10-15
616047    2018-10-16
616049    2018-10-18
616053    2018-10-22
616055    2018-10-24
616056    2018-10-25
616061    2018-10-30
616063    2018-10-01
616064    2018-10-02
616065    2018-10-03
616066    2018-10-04
616070    2018-10-08
616071    2018-10-09
616075    2018-10-13
616078    2018-10-16
616079    2018-10-17
616080    2018-10-18
616084    2018-10-22
616088    2018-10-26
616089    2018-10-27
616091    2018-10-29
616093    2018-10-01
616095    2018-10-03
616096    2018-10-04
616097    2018-10-05
616099    2018-10-08
616100    2018-10-09
Name: FL_DATE, Length: 1237022, dtype: object